.infoArea {
  margin-top: 2px;
  background-color: #fff;
  padding: 1em 1em 0em;
}

.infoArea > * {
  margin-top: 1em;
}

.infoArea > hr {
  margin: 0;
}

.infoTable {
  border-radius: 0.5em;
  background-color: var(--info-box-color);
  border: 2px solid var(--font-color);
  width: 100%;
  min-height: 24vh;
  margin: 1em 0;
}

.infoTable > tbody > tr > td {
  background-color: #fff;
  border: 1px solid var(--font-color);
  padding: 0.5rem;
  margin: 0 auto;
}

.infoTable > thead > tr > th {
  background-color: var(--main-color);
  border: 1px solid var(--font-color);
  padding: 0.5rem;
  margin: 0 auto;
}

.tdeeForm {
  background-color: var(--info-box-color);
  border: 2px solid var(--font-color);
  overflow: hidden;
  max-width: 90%;
  margin: 0.5em auto;
}
.tdeeForm > legend {
  font-size: 1.1rem;
}
.tdeeForm > form {
  display: flex;
  flex-direction: row;
}
.tdeeForm > * {
  margin: 0.8em auto;
  padding: 0 0.4em;
}
.tdeeForm > * > label {
  display: block;
}
.bottomBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

@media (min-width: 50em) {
  .infoTable {
    padding: 2em 2em;
    font-size: 1.1rem;
  }
  .bottomBtn {
    justify-content: flex-end;
  }
  
}
