.eduArea {
  margin: 2px auto 0;
  background-color: #fff;
  padding: 0.5em 1em 0em;
}

.eduArea > *+* {
  margin-top: 1em;
}

.eduArea > ul > h4,
p {
  margin-top: 0.5em;
}

.eduArea > hr {
  margin: 0;
}

.eduLink {
  color: var(--main-color);
}

img.diagram {
  max-height: 25em;
  margin: 0 auto;
}

.tableCenter{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.termTable {
  border-radius: 0.5em;
  background-color: var(--info-box-color);
  border: 2px solid var(--font-color);
  width: 100%;
  min-height: 24vh;
  margin: 1em auto;
}

.termTable > tbody > tr > td {
  background-color: #fff;
  border: 1px solid var(--font-color);
  padding: 0.5rem;
  margin: 0 auto;
}

.termTable > thead > tr > th {
  background-color: var(--main-color);
  border: 1px solid var(--font-color);
  padding: 0.5rem;
  margin: 0 auto;
}

.bottomBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

@media (min-width: 50em) {
  .bottomBtn {
    justify-content: flex-end;
  }
  
}
