.logo {
  margin-top: 0.2em;
  font-size: 1.6rem;
  font-family: Fira Sans;
}

nav {
  text-decoration: none;
  color: inherit;
}

nav {
  background-color: var(--main-color);
  border-bottom: 2px solid var(--font-color);
}

.navContainer {
  line-height: 1;
  margin: 0 auto;
  width: min(84%, 80em);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  padding: 0;
  display: flex;
  flex-direction: row;
}

.navLinks li {
  font-weight: 600;
  font-size: 1rem;
  margin: 0 0.2em;
  list-style-type: none;
}

@media (min-width: 50em) {
  .navContainer {
    line-height: 1.4;
    flex-direction: row;
  }
  .navLinks {
    visibility: visible;
  }
  .navLinks li {
    font-size: 0.9rem;
  }
  
}
